<br>
<br>
<div class="col-md-4">
	<a href="#" class="thumbnail">
      <%= image_tag("so_serious.jpg") %>
    </a>
	<div class="panel">
		<div class="panel-heading">
			<center><b>Welcome to Andrew Mueller's Profile</b></center>
		</div>
		<div class="panel-body">
			<h4>About me</h4>
			<p>
				My name is Andrew Mueller, i'm 24 years old. I started RIT as an electrical engineer, but transferred into Software Engineering because it interested me more for the long term. I have a diligent work ethic that has caused me to become team leader for many school projects. I love to joke around and have fun, but i ultimately know when to work and when to play.
			</p>
		</div>
	</div>
</div>
<div class="col-md-8">
	<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
		<!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        
        <div class="carousel-inner" role="listbox">
        	
			<div class="item active">
					<div class="carousel-caption">
						<h2>EventHub Project</h2>
						<p>
							This website was created in the 'Engineering of Enterprise Software Systems' class.
							This website allows users to register to a school groups and view events from those groups.
							Features of this website include event comment notifications, infinite scroll event feed, and event filtering according to date.
							<br>
							<br>
							<b>Use these credentials to login:</b>
							
							<br>
							Username: bhope@gmail.com
							<br>
							Password: ChangeItAsap!
							<br>
							<br>
						</p>
						<center>
							<a class="btn btn-default" type="button" href="http://eventhub.somee.com">Event Hub</a>
						</center>	
					</div>
			</div>
			<div class="item">
					<div class="carousel-caption">
						<h2>Museum Experience Survey Project</h2>
						<p>
							This website was for my RIT senior project. This website allows admins to create, view, edit, and delete surveys. Takers can submit answers to questionnaires which then can be viewed in chart form by administrators. This project was done for "The Discovery Center of the Southern Tier" so that the museum can can get feedback from museum goers for on-site improvements and advertising.
							<br>
							<br>
							<b>Use these credentials to login to the admin page:</b>
							
							<br>
							Username: admin
							<br>
							Password: admin101
							<br>
							<br>
						</p>
						<p>
							<a class="btn btn-default" type="button" href="http://eventhub.somee.com">Museum Survey</a>
						</p>	
					</div>
			</div>
        </div>

        <%# Carousel indicators %>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
	</div>
	<br>
	<div class="panel">
		<div class="panel-heading">
			<center><b>Résumé</b></center>
		</div>
		<div class="panel-body">
			<iframe src="https://docs.google.com/file/d/0B-9uJ7bNx1B9bF9YVmlvZ0NHMWM/preview" width="100%" height="900"></iframe>
		</div>
	</div>
</div>